body {
  font-family: 'Open Sans', sans-serif;
  color: #282828;
}

.mt-20 {
  margin-top: 20px;
}

h3 {
  margin-bottom: 0;
}

p.anim {
  font-size: 12px;
  line-height: 14px;
  font-weight: normal;
  padding-bottom: 0;
  margin-bottom: 6px;
  font-style: italic;
}

ul.dotted li {
  text-indent: -.7em;
}

ul.dotted li:before {
  content: "•";
  padding-left: 10px;
  padding-right: 10px;
}

section a {
  text-decoration: underline;
}

nav {
  text-align:center;
  margin-top: 20px;
}

nav a, nav a:hover, nav a:visited {
  color: white;
  text-decoration: none;
  font: 800 20px/30px "open sans";
}

nav a {
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover {
  /*color: #34b8d0;*/
}

nav ul.inline {
  margin-bottom: 0;
}

nav ul.inline > li {
  padding: 0 20px;
}

header {
  height: 500px;
  color: white;
  width: 100%;
  background: url("/img/rivetoile.jpg") no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header a.mainlink, header a.mainlink:hover, header a.mainlink:visited {
  color: white;
  text-decoration: none;
}

header h1 {
  margin-top: 164px;
  font: 400 64px/64px 'Londrina Solid';
  text-shadow: 1px 1px #000000;
}

header p.subtitle {
  margin-top: 20px;
  font: 400 30px/36px "gentium book basic";
}

header p.subsubtitle {
  margin-top: 20px;
  font: 400 26px/32px "gentium book basic";
}

header h1, header p.subtitle, header p.subsubtitle {
  text-align: center;
}

section {
  background-color: white;
  color: #282828;
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 200px;
}

section.thin {
  min-height: 0;
}

section.summercamp h2 {
  margin-bottom: 0;
}

section.intro {
  padding-top: 10px;
  padding-bottom: 0;
  min-height: 0;
}

section.intro .span12 p:last-child {
  margin-bottom: 0;
}

section.nav {
  background-color: #282828;
  color: #282828;
  min-height: 0;
  margin-bottom: 10px;
  padding-top: 0;
}

section.content {
  background-color: #34b8d0;
  color: #282828;
  padding-top: 20px;
  font-size: 34px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

section.sponsors h2 {
  margin-bottom: 20px;
}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.table tr td:first-child {
  text-align: right;
  vertical-align: top;
  padding: 0 4px 8px 8px;
  font-weight: 300;
  font-size: 12px;
}

.table td.withcontent {
  padding: 2px;
  font-size: 20px;
}

h2 {
  font: 800 24px/28px "open sans";
  margin-bottom: 40px;
}

table a {
  font-size: 20px;
  line-height: 28px;
  text-decoration: underline;
}

.demonight, .edgenight, .demonight a, .edgenight a {
  background-color: #282828 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s;
}

.edgeday, .edgeday a, .hackathon, .hackathon a, .barcampalsace, .barcampalsace a {
  background-color: #34b8d0 !important;
  color: white;
  transition: all 0.3s ease-in-out 0s;
}

.summercamp, .summercamp a {
  background-color: #11922E !important;
  color: white;
  transition: all 0.3s ease-in-out 0s;
}

table .summercamp:hover, table .summercamp:hover a {
  background-color: #48A95D !important;
}

table .demonight:hover, table .demonight:hover a, table .edgenight:hover, table .edgenight:hover a {
  background-color: #424242 !important;
}

table .edgeday:hover, table .edgeday:hover a, table .hackathon:hover, table .hackathon:hover a, table .barcampalsace:hover, table .barcampalsace:hover a {
  background-color: #5dc6da !important;
}

footer {
  background-color: #282828;
  color: white;
  font: 800 20px/30px "open sans";
  padding: 20px 0;
}

ul.sponsors li {
  padding: 0;
  margin: 0 20px 20px 0;
}

p.date, p.venue, p.type {
  margin: 0;
}

p.type {
  margin-bottom: 10px;
  font-weight: 800;
}

.sticky {
  background-color: red;
  color: white;
  padding: 10px;
  text-align: center;
  font-weight: 600;
  position: absolute;
  top: 0;
  width: 100%;
}

@media screen and (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  section {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media screen and (max-width: 510px) {
  header h1 {
    margin-top: 150px;
  }
}
