body {
  font-family: 'Open Sans', sans-serif;
}

section a {
  text-decoration: underline;
}

section.header {
  height: 500px;
  color: white;
  width: 100%;
  background: url("/img/rivetoile.jpg") no-repeat scroll center center #000000;
  background-size: cover;
  background-attachment: fixed;
}

section.header h1 {
  margin-top: 170px;
  font: 800 64px/64px "open sans";
  text-shadow: 1px 1px #000000;
}

section.header h2 {
  margin-top: 20px;
  font: 400 30px/36px "gentium book basic";
}

section.header h3 {
  margin-top: 20px;
  font: 400 26px/32px "gentium book basic";
}

section.header h1, section.header h2, section.header h3 {
  text-align: center;
}

section.intro {
  background-color: white;
  color: black;
  width: 100%;
  margin: 20px 0;
}

section {
  padding: 20px 0;
  min-height: 200px;
}

section.content {
  background-color: #34b8d0;
  color: black;
  padding-top: 20px;
  font-size: 34px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
}

.table th {
  text-align: center;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

.table tr td:first-child {
  text-align: right;
  vertical-align: top;
  padding: 0 4px 8px 8px;
  font-weight: 300;
  font-size: 12px;
}

.table td.withcontent {
  padding: 2px;
}

h1 {
  font: 800 48px/48px "open sans";
  margin-bottom: 20px;
}

table a {
  font-size: 20px;
}

.demonight, .edgenight, .demonight a, .edgenight a {
  background-color: black !important;
  color: white;
}

.edgeday, .barcampalsace, .edgeday a, .barcampalsace a {
  background-color: #34b8d0 !important;
  color: white;
}

.hackathon, .hackathon a {
  background-color: #88D8E8 !important;
  color: white;
}

footer {
  background-color: #CCC;
  color: white;
  min-height: 100px;
}

ul.sponsors li {
  margin: 10px;
}
