<section class="demonight" id="demonight">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>DEMO NIGHT</h1>
        <p class="date">Date : Vendredi 5 juillet, de 19h à 23h</p>
        <p class="venue">Lieu : Cité de la Danse et de la Musique, 1 place Dauphine • F - 67076 Strasbourg</p>
        <p class="type">Événement gratuit sur pré-inscription. <a href="http://demonight2013.eventbrite.fr/#">Pré-inscription ici !</a></p>
        <p class="concept">
          Venez découvrir 10 projets de startups strabourgeoises (et alentours) !
          <br/>
          Chaque startup disposera de cinq minutes et pas une minute de plus pour présenter son projet. Une vraie performance, un vrai show !
        </p>
        <p class="concept">
          Pas de blabla, que de la démo !
        </p>
        <p class="concept">
          Vous voulez pitcher votre idée à DEMO NIGHT ? Envoyez-nous un mail à <a href="mailto:demonight@alsacedigitale.org">demonight@alsacedigitale.org</a> en présentant votre projet et son état d'avancement.
        </p>
      </div>
    </div>
  </div>
</section>
