<section class="demonight" id="demonight">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>DEMO NIGHT</h2>
      </div>
    </div>
    <div class="row">
      <div class="span6">
        <p class="date">Date : Vendredi 5 juillet, de 19h à 23h</p>
        <p class="venue">Lieu : Cité de la Danse et de la Musique, 1 place Dauphine • F - 67076 Strasbourg</p>
        <p class="type">Événement gratuit sur pré-inscription. <a href="http://demonight2013.eventbrite.fr/">Pré-inscription ici !</a></p>
        <p class="concept">
          Venez découvrir 10 projets de startups alsaciennes !
          <br/>
          Chaque startup disposera de cinq minutes et pas une minute de plus pour présenter son projet. Une vraie performance, un vrai show !
          <br/>
        </p>
        <p class="concept">
          Pas de blabla, que de la démo !
        </p>
        <p class="concept">
          Vous voulez pitcher votre idée à <span class="small-caps">Demo Night</span> ? Envoyez-nous un mail à <a href="mailto:demonight@alsacedigitale.org">demonight@alsacedigitale.org</a> en présentant votre projet et son état d'avancement.
        </p>
        <p class='concept'>La soirée démarrera par une keynote animé par un acteur majeur de l'économie alsacienne et se terminera par un buffet convivial.</p>
        <p class='concept'><span class="small-caps">ATTENTION</span> : seulement 100 places disponibles, <a href="http://demonight2013.eventbrite.fr/">inscrivez-vous vite !</a></p>
      </div>
      <div class="span6">
        <ul class="thumbnails">
          <li class="span6"><img src="img/demonight1.jpg" class="span6" /></li>
          <li class="span6"><img src="img/demonight2.jpg" class="span6" /></li>
        </ul>
      </div>
    </div>

    </div>
  </div>
</section>
