<section class="edgeday-section full-section clearfix" id="edgeday" >
    <div class="event-body">
        <h3>Edge Day</h3>
        
        <div class="event-images">
            <ul class="thumbs clearfix">
                <li><img src="img/edgeday1.jpg" /></li>
                <li><img src="img/edgeday2.jpg" /></li>
            </ul>
        </div>
        
        <div class="event-infos">
            <p class="date">Date : Vendredi 5 juillet, de 9h à 18h</p>
            <p class="venue">Lieu : La Plage Digitale, 15 route du Rhin • F – 67100 Strasbourg</p>
            <p class="type">Événement gratuit, entrée libre.</p>
            <p class="concept">
                La Plage Digitale accueille toute la journée dans ses locaux le public du festival pour faire découvrir l’effervescence du numérique strasbourgeois. C’est l’opportunité de rencontrer et d’échanger avec l’ensemble des acteurs impliqués dans cette dynamique : entrepreneurs, artistes, clusters… C’est également l’occasion d’explorer le potentiel du coworking, une organisation innovante du travail basée sur la collaboration et le partage de compétences.
            </p>
            <p class="concept">
                Animations :
                <ul class="better-list">
                    <li>démonstrations de robotique ;</li>
                    <li>atelier de création de jeu vidéo ;</li>
                    <li>mini-conférences ;</li>
                    <li>tables rondes / débats ;</li>
                    <li>installations d’artistes ;</li>
                    <li>et ainsi de suite !</li>
                </ul>
            </p>
        </div>
    </div>
</section>

<section class="">
    <h3>
        Liste des coworkers présents
    </h3>
    <h4>Venez discuter avec tous les coworkers de La Plage Digitale et découvrir leurs domaines d'activités, leurs compétences et leur façon d'envisager le coworking :</h4>

    <ul class="inline dotted">
        <!--<li>Yann Klis (<a href="http://www.novelys.com">Novelys</a>) : développement web, startups, Ruby/Rails</li>
            <li>John Doe (<a href="http://www.google.fr">Google</a>) : Fab Lab, geek, stuff</li>-->
            <li><em>Les coworkers présents seront annoncés sous peu, restez à l'écoute !</em></li>
        </ul>

    </section>

    <section class="" id="tablesrondes">
        <h3>
            Planning des tables rondes
        </h3>
        <h4>En plus des ateliers, des démos, des stands et des présentations qui auront lieu toute la journée, retrouvez un planning des conférences et tables rondes qui auront lieu dans l'espace conférence :</h4>

        <table class="table table-striped table-bordered round-table">
            <thead>
                <tr>
                    <th></th>
                    <th>Titre</th>
                    <th>Intervenants</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>8h</td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td>9h</td>
                    <td>Utilisation de NFC dans les transports Strasbourgeois</td>
                    <td>Bientôt dévoilés</td>
                </tr>
                <tr>
                    <td>10h</td>
                    <td>Programme d'ouverture des données publiques à Strasbourg (OpenData)</td>
                    <td>Bientôt dévoilés</td>
                </tr>
                <tr>
                    <td>11h</td>
                    <td>Numérique et santé, projet TechMed à Strasbourg</td>
                    <td>Bientôt dévoilés</td>
                </tr>
                <tr>
                    <td>12h</td>
                    <td>Pause déjeûner</td>
                    <td>Intermède musical</td>
                </tr>
                <tr>
                    <td>13h</td>
                    <td>Futur Pôle Seegmuller, future Plage Digitale, que va-t-il se passer en 2014 du côté de la presqu'île Malraux ?</td>
                    <td>Alsace Digitale, Pôle Seegmuller</td>
                </tr>
                <tr>
                    <td>14h</td>
                    <td>Droit d'auteur à l'ère digitale</td>
                    <td>Bientôt dévoilés</td>
                </tr>
                <tr>
                    <td>15h</td>
                    <td>Qu'est-ce qu'un Serious Game et qu'est-ce que cela peut apporter à mon entreprise ?</td>
                    <td>Bientôt dévoilés</td>
                </tr>
                <tr>
                    <td>16h</td>
                    <td>FabLab et impression 3D, le futur de l'industrie ?</td>
                    <td>Bientôt dévoilés</td>
                </tr>
                <tr>
                    <td>17h</td>
                    <td>Buffet</td>
                    <td>Intermède musical</td>
                </tr>
                <tr>
                    <td>18h</td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </section>
