
<section class="edgenight-section full-section clearfix" id="edgenight">
    <div class="event-body">
        <h3>Edge Night</h3>
    
        <div class="event-infos lone-event">
            <p class="date">Date : Samedi 6 juillet, de 19h à 23h30</p>
            <p class="venue">Lieu : Presqu'île Malraux, devant le Rivetoile</p>
            <p class="type">Événement gratuit, entrée libre.</p>
            <p>
                <img src="/img/edgenight1.jpg" />
            </p>
            <p class="concept">
                Une soirée entièrement dédiée au processus de création sous toutes ses formes : design, architecture, graphisme… Des formats innovants et ludiques pour un moment convivial.
            </p>
            <p class="concept">
                "EdgeNight" est un évènement festif qui constitue un  des points d’orgue du festival Edgefest. Il s'agit d'ouvrir des perspectives concernant le potentiel de ces communautés en favorisant une intermédiation envers un large public. L'enjeu de cet évènement est de favoriser les croisements entre communautés artistiques et numériques.
            </p>
            <p class="concept">
                L'enjeu est de préfigurer le potentiel du projet afférent au Môle Seegmuller, à cette fin l'association Alsace Digitale envisage notamment d'investir la presqu'île Malraux.
            </p>
            <p class="concept">
                Il s'agit de proposer le temps d'une soirée une version éphémère de "Plage digitale" où un concert électronique sera proposé tout en donnant accès pour un large public à une rêverie autour des possibilités de déploiement du batiment Seegmuller.
            </p>
            <p class="concept">
                Animations :
                <ul class="better-list">
                    <li>La soirée sera animée par un concert électronique du collectif « Les Enfants De La Pluie »</li>
                    <li>Ce sera l'occasion de remixer et diffuser les <a href="/summercamp.html#decouvertessonores">contenus audio qui auront été collectés durant le Summer Camp</a>.</li>
                </ul>
            </p>
        </div>
    </div>
</section>
