
<section class="edgenight" id="edgenight">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>EDGE NIGHT</h1>
        <p class="date">Date : Samedi 6 juillet, de 19h à 23h30</p>
        <p class="venue">Lieu : Parvis du Môle Seegmuller</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="concept">
          Une soirée entièrement dédiée au processus de création sous toutes ses formes : design, architecture, graphisme… Des formats innovants et ludiques pour un moment convivial.
        </p>
        <p>
          Les détails viendront bientôt !
        </p>
        <div class="hide">
        <p class="concept">
          "EdgeNight" est un évènement festif qui constitue un  des points d’orgue du festival Edgefest. Il s'agit d'ouvrir des perspectives concernant le potentiel de ces communautés en favorisant une intermédiation envers un large public. L'enjeu de cet évènement est de favoriser les croisements entre communautés artistiques et numériques.
        </p>
        <p class="concept">
          L'enjeu est de préfigurer le potentiel du projet afférent au Môle Seegmuller, à cette fin l'association Alsace Digitale envisage notamment d'investir la presqu'île Malraux.
        </p>
        <p class="concept">
          Il s'agit de proposer le temps d'une soirée une version éphémère de "Plage digitale" où un concert électronique serait proposé tout en donnant accès pour un large public à une rêverie autour des possibilités de déploiement du batiment Seegmuller.
        </p>
        <p class="concept">
          Animations :
          <ul>
            <li>Pour développer l'esprit de collaboration et de partage, la soirée sera introduite par un pique nique géant participatif (bring)</li>
            <li>{à préciser} La soirée sera animée par un concert électronique animé par le collectif « les enfants de la pluie »</li>
            <li>{à préciser} des contenus audio auront été collectés par des membres du collectif les enfants de la pluie tout au long de la journée à la buvette de la soirée.</li>
            <li>{a définir} Le fablab avlab présentera au public différents outils de conception permettant de produire des sérigraphies, des stickers ou des objets en 3D notamment au cours du summercamp organisé à la médiathèque</li>
            <li>{a définir} Propositions autour d’une maquette du projet en 3D ou en images virtuelles sur un écran. Le public serait invité à dessiner sur des tablettes des extensions architecturales et des équipements intérieurs et extérieurs pour le projet.</li>
            <li>Un concours destiné aux créateurs strasbourgeois (graphistes, designer, plasticiens, cinéastes, vidéastes…) sera mis en place. Les créateurs seront invités à envoyer leurs créations graphiques ou vidéo de tout types sur un support numérique à l’adresse <a href="mailto:edgenight@alsace.digitale.org">edgenight@alsace.digitale.org</a> ou à les déposer sur le site de la edgefest et ces contenus seront utilisés comme matériau pour une performance de mapping sur la surface du chantier Seegmuller par les Av-Exciters</li>
          </ul>
        </p>
        </div>
      </div>
    </div>
  </div>
</section>
