<section class="hackathon" id="hackathon">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>HACKATHON</h1>
        <p class="date">Date : Dimanche 7 juillet, de 10h à 18h</p>
        <p class="venue">Lieu : La Plage Digitale, 15 route du Rhin • F - 67100 Strasbourg</p>
        <p class="type"></p>
        <p class="concept">
          Un hackathon est un événement où des développeurs se réunissent pour faire de la programmation informatique collaborative, sur plusieurs jours. Le terme est un mot-valise constitué de hack et marathon.
        </p>
        <p class="concept">
          Animations :
          <ul>
            <li>Hackathon : rassemblement de développeurs organisés par équipe autour de porteurs de projet avec l’objectif de produire un prototype d’application en quelques heures. Sous forme de concours chronométré, l’équipe gagnante sera désignée par un jury à l’issue du temps imparti. La référence au Marathon se justifie par le travail sans interruption des développeurs pendant deux jours. Le repos n’a pas vraiment sa place dans ce type d’évènement !</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</section>
