<section class="nav">
  <div class="container">
    <nav>
      <ul class="inline">
        <li><a href="/edgeday.html#edgeday">Edge Day</a></li>
        <li><a href="/demonight.html#demonight">Demo Night</a></li>
        <li><a href="/barcampalsace.html#barcampalsace">BarCamp Alsace 10</a></li>
        {% comment %}
        <li><a href="/edgenight.html#edgenight">Edge Night</a></li>
        {% endcomment %}
        <li><a href="/hackathon.html#hackathon">Hackathon</a></li>
        {% comment %}
        <li><a href="/summercamp.html#summercamp">Summer Camp</a></li>
        {% endcomment %}
      </ul>
    </nav>
  </div>
</section>
