<h3 id="planning">Planning Général</h3>

<div class="table-overflow">
    <table class="table table-striped table-bordered general-calendar">
      <thead>
        <tr>
          <th style=""></th>
          <th class="">Jeu 4 Juillet</th>
          <th class="">Ven 5 Juillet</th>
          <th class="">Sam 6 Juillet</th>
          <th class="">Dim 7 Juillet</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>8h</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>9h</td>
          <td></td>
          <td rowspan="9" class="withcontent edgeday" data-slot="9h – 17h" data-day="Vendredi 5 Juillet">
            <a href="/edgeday.html#edgeday">Edge Day</a>
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>10h</td>
          <td></td>
          <td rowspan="8" class="withcontent barcampalsace" data-slot="10h – 17h" data-day="Samedi 6 Juillet">
            <a href="/barcampalsace.html#barcampalsace">BarCamp Alsace X</a>
          </td>
          <td rowspan="8" class="withcontent hackathon" data-slot="10h – 17h" data-day="Dimanche 7 Juillet">
            <a href="/hackathon.html#hackathon">Hackathon</a>
          </td>
        </tr>
        <tr>
          <td>11h</td>
          <td></td>
        </tr>
        <tr>
          <td>12h</td>
          <td></td>
        </tr>
        <tr>
          <td>13h</td>
          <td></td>
        </tr>
        <tr>
          <td>14h</td>
          <td></td>
        </tr>
        <tr>
          <td>15h</td>
          <td></td>
        </tr>
        <tr>
          <td>16h</td>
          <td></td>
        </tr>
        <tr>
          <td>17h</td>
          <td></td>
        </tr>
        <tr>
          <td>18h</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>19h</td>
          <td></td>
          <td rowspan="4" class="withcontent demonight" data-slot="19h – 22h" data-day="Vendredi 5 Juillet">
            <a href="/demonight.html#demonight">Demo Night</a>
          </td>
          <td rowspan="4" class="withcontent edgenight" data-slot="19h – 22h" data-day="Samedi 6 Juillet">
            <a href="/edgenight.html#edgenight">Edge Night</a>
          </td>
          <td></td>
        </tr>
        <tr>
          <td>20h</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>21h</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>22h</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>23h</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>0h</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
</table>
