<section class="summercamp thin" id="summercamp">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2>Summer Camp</h2>
      </div>
    </div>
  </div>
</section>
<section id="decouvertessonores">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h3>Atelier découvertes sonores</h3>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <p class="date">Date : Jeudi 4 juillet, de 14h à 18h</p>
        <p class="venue">Lieu : Médiathèque André Malraux, 1 Presqu’île André Malraux 67076 Strasbourg</p>
        <p class="type">Événement gratuit. Inscription à la médiathèque Malraux sur place ou par téléphone au 03 88 45 10 10. Nombre de place limités, ne tardez pas à vous inscrire !</p>
        <p class="type">Atelier tout public à partir de 9 ans</p>
        <p class="concept">
          Le summerCamp propose un atelier d’initiation à la captation sonore ouvert à tout public. Venez découvrir le paysage sonore de la presqu’ile Malraux. Les participants devront  tendre l’oreille à la recherche des bruits du quotidien urbain et apprendront dans un second temps à capturer les ambiances sonores in-situ en utilisant différents types de microphones (dynamique, statique, binaural, etc).
        </p>
        <p class="concept">
          Un atelier, mais pas que ! Chaque participant retrouvera ses enregistrements le samedi soir au sein de la performance sonore du collectif Les Enfants de la Pluie durant l’<a href="/edgenight#edgenight">Edge Night</a> (sur les docks Malraux côté Rivétoile, de 19h à 23h30).
        </p>
      </div>
    </div>
  </div>
</section>
<section id="vjing">
  <div class="container">
    <div class="row" id="decouvertessonores">
      <div class="span12">
        <h3>Atelier Vjing</h3>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <p class="date">Date : Vendredi 5 juillet, de 14h à 18h</p>
        <p class="venue">Lieu : Médiathèque André Malraux, 1 Presqu’île André Malraux 67076 Strasbourg</p>
        <p class="type">Événement gratuit. Inscription à la médiathèque Malraux sur place ou par téléphone au 03 88 45 10 10. Nombre de place limités, ne tardez pas à vous inscrire !</p>
        <p class="type">Atelier tout public à partir de 9 ans</p>
        <p class="concept">
          <em>Description en cours d'élaboration.</em>
        </p>
      </div>
    </div>
  </div>
</section>
<section id="devoxx4kids">
  <div class="container">
    <div class="row" id="decouvertessonores">
      <div class="span12">
        <h3>Devoxx4Kids</h3>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <p class="date">Date : Samedi 6 juillet, de 14h à 18h (2 séances 14h/16h et 16h/18h pour 2 groupes de 10 enfants)</p>
        <p class="venue">Lieu : Médiathèque André Malraux, 1 Presqu’île André Malraux 67076 Strasbourg</p>
        <p class="type">Événement gratuit. Inscription à la médiathèque Malraux sur place ou par téléphone au 03 88 45 10 10. Seulement 10 places par session, ne tardez pas à vous inscrire !</p>
        <p class="type">Enfants de 10 à 14 ans accompagnés d'un parent (si vous avez un ordinateur vous pouvez l'emmener, dans le cas contraire l'organisation vous en fournira un)</p>
        <p class="concept">
          Devoxx4Kids est un atelier où les enfants pourront jouer ensemble, accompagnés par les adultes, pour mieux comprendre l’informatique en découvrant la programmation avec des outils adaptés à leur âge.
        </p>
      </div>
    </div>
  </div>
</section>
<section id="demoavlab">
  <div class="container">
    <div class="row" id="decouvertessonores">
      <div class="span12">
        <h3>Démo AV Lab</h3>
      </div>
    </div>
    <div class="row">
      <div class="span12">
        <p class="date">Date : Samedi 6 juillet, de 14h à 18h</p>
        <p class="venue">Lieu : Médiathèque André Malraux, 1 Presqu’île André Malraux 67076 Strasbourg</p>
        <p class="type">Événement gratuit, entrée libre.</p>
        <p class="type">Tout public</p>
        <p class="concept">
          <em>Description en cours d'élaboration.</em>
        </p>
      </div>
    </div>
  </div>
</section>
